

*{
    font-family: Libre Baskerville;
}

body{
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

h2{

font-family: Libre Baskerville;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h1 h2 h3 h4 h5 h6{
    text-transform: uppercase;
}

::selection {
    background: red;
  }

nav { 
    display: inline;
    margin: 0px 4px;
    visibility: hidden;
 
}
nav li:hover { 
    display: inline;
    margin: 0px 4px;
    visibility: visible;

    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    @keyframes pulse {
        50% {
          opacity: 0;
        }
      }
 
}

nav li:nth-child(2) {animation-delay: 0.0s; }
nav li:nth-child(3) {animation-delay: 0.5s; }
nav li:nth-child(4) {animation-delay: 1.0s; }



nav li a{
    cursor: wait;
}


nav li:first-child  { 
   
    border-bottom: 1px solid black;
    display: inline;
    margin: 0px 4px;
    color: #3e4749;
    text-decoration: underline;
    visibility: visible;
}



nav :hover{ 
visibility: visible;
}

a{
    color: green;
    text-decoration: none;
}


h2::first-letter{
    font-size: x-large;
}

header{
    padding: 40px;
    background-color: #879499;
    color: white;
}



th {
   text-transform: uppercase; 
}

.top{
    color: rgb(255, 174, 174);
}

em{
    background-color: blue;
}

#the_most_important{
    text-transform: uppercase;
}


 td:hover{ 
 color: aqua;
}
nav{
    display: inline;
    text-decoration: none;
}

nav:first-child{
text-decoration: underline;
}


input{ 
    height: 20px;
    border-color:lightgrey ;

}

#name{
 height: 50px;   
}


footer{
    background: #1C1C1C;
    color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

#btn:hover{
   background-color: red;
   transition: ease 2s;

   @keyframes sampleAnimation {
    100%{
        background-color: black
    }
   }
}
#hamburger-menu{
    max-width: 20;
}

